[Unit]
Description=vllm-use service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
ExecStart=/vllm-use/vllm-use
ExecStop=/bin/kill -TERM $MAINPID
WorkingDirectory=/vllm-use
LimitNOFILE=102400

[Install]
WantedBy=multi-user.target
